<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin panel</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# HEAD STYLES #}
	{% block styles %}
        {{ ns_cdn('bootstrap-2-css') }}

		<link rel="stylesheet" href="{{ asset('bundles/nsadmin/css/style.css') }}" />

		<link rel="stylesheet" href="{{ asset('bundles/nsadmin/select2-3.4.5/select2.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/nsadmin/dynatree-bootstrap-skin/ui.dynatree.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/nsadmin/jquery-file-upload/css/bootstrap-image-gallery.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/nsadmin/jquery-file-upload/css/jquery.fileupload-ui.css') }}" />
		<noscript>
            <link rel="stylesheet" href="{{ asset('bundles/nsadmin/jquery-file-upload/css/jquery.fileupload-ui-noscript.css') }}" />
        </noscript>

        {% if form is defined %}
            {{ form_stylesheet(form) }}
        {% endif %}
	{% endblock %}

	{# HEAD JS block #}
	{% block javascripts %}
		{# IE compatibility #}
		<!--[if lt IE 9]><script src="{{ asset('bundles/nsadmin/html5shim/html5.js') }}"></script><![endif]-->

        {{ ns_cdn('jquery-1.11-js') }}
        {{ ns_cdn('jqueryui-1.10-js') }}

        {% if form is defined %}
            {{ form_javascript(form) }}
        {% endif %}
	{% endblock %}
</head>

<body>

<div class="ns-wrap">
    <header class="navbar navbar-inverse navbar-fixed-top" id="ns-navbar" style="background: red">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="nav-collapse collapse">
                    {% if is_granted("ROLE_ADMIN") %}
                        {{ knp_menu_render('main', { currentClass: 'active', ancestorClass: 'active', template: 'NSAdminBundle:Menu:main-menu.html.twig', depth:1 }) }}
                    {% endif %}
                </div>

                <div class="nav-collapse collapse pull-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <ul class="nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-user icon-white"></i>&nbsp;{{ app.user.username }}&nbsp;<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ url('ns_admin_bundle', {adminBundle: 'NSUserBundle',adminController:'users',adminAction:'form'}) }}?id={{ app.user.id }}">
                                            <i class="icon-cog"></i>&nbsp;Профиль
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{{ url('fos_user_security_logout') }}">
                                            <i class="icon-off"></i>&nbsp;Выйти
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <section class="container ns-main">
        {% block content '' %}
    </section>
</div>

<footer class="footer">
    <div class="container">
        <div class="pull-right ns-sincerely">
			<a href="http://neosense.ru" target="_blank">
                <img src="{{ asset('bundles/nsadmin/images/sincerely.png') }}" alt="Sincerely Neosense"/>
			</a>
        </div>
		<div class="pull-left version">
            &copy;&nbsp;ООО <a href="http://neosense.ru" target="_blank">«Неосенс»</a> 2008—{{ 'now'|date('Y') }}<br/>
            v{{ ns_core_version() }}, <a href="{{ url('ns_admin_bundle', {adminBundle: 'NSAdminBundle',adminController:'tools',adminAction:'info'}) }}">информация о системе</a>
        </div>
    </div>
</footer>

<div class="loader" id="ns-loader">
    <img src="{{ asset('bundles/nsadmin/images/loader.gif') }}" alt=""/>
    <span class="text">Загрузка...</span>
</div>

{% block foot_script %}
    {{ ns_cdn('bootstrap-2-js') }}

	{# Dynatree #}
	<script src="{{ asset('bundles/nsadmin/dynatree/jquery/jquery.cookie.js') }}"></script>
	<script src="{{ asset('bundles/nsadmin/dynatree/dist/jquery.dynatree.min.js') }}"></script>

	{# jQuery Values #}
	<script src="{{ asset('bundles/nsadmin/jquery/jquery.values.min.js') }}"></script>

    {# Select 2 #}
    <script src="{{ asset('bundles/nsadmin/select2-3.4.5/select2.js') }}"></script>

	<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
	<script src="{{ asset('bundles/nsadmin/load-image/load-image.min.js') }}"></script>

	<!-- The Canvas to Blob plugin is included for image resizing functionality -->
	<script src="{{ asset('bundles/nsadmin/load-image/canvas-to-blob.min.js') }}"></script>

	<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
	<script src="{{ asset('bundles/nsadmin/jquery-file-upload/js/jquery.iframe-transport.js') }}"></script>

	<!-- The basic File Upload plugin -->
	<script src="{{ asset('bundles/nsadmin/jquery-file-upload/js/jquery.fileupload.js') }}"></script>

	<!-- The File Upload file processing plugin -->
	<script src="{{ asset('bundles/nsadmin/jquery-file-upload/js/jquery.fileupload-fp.js') }}"></script>

	<script src="{{ asset('bundles/nsadmin/load-image/jquery.getimagedata.min.js') }}"></script>

    <script src="{{ asset('bundles/nsadmin/js/script.js') }}"></script>
{% endblock foot_script %}

</body>
</html>
