{% block ns_image_widget %}
	{% if value %}
		<div id="{{ form.vars.id }}_preview">
			<div style="width:210px;height:210px;border:solid 1px #ccc;background:#eee url({{ asset(attribute(form.parent.vars.data, name ~ 'WebPath')) | apply_filter('ns_admin_image') }}) no-repeat 50% 50%"></div>
			<a href="#" id="{{ form.vars.id }}_remove_link">Удалить</a>
		</div>

		<script type="text/javascript">
			(function($){
				// hiding file upload control group
				$('#{{ form.parent.child(name ~ 'File').vars.id }}_control_group').hide();

				// delete click handler
				$('#{{ form.vars.id }}_remove_link').click(function(){
					// removing image
					$('#{{ form.vars.id }}_control_group').remove();
					$(this).remove();

					// showing file upload control group
					$('#{{ form.parent.child(name ~ 'File').vars.id }}_control_group').show();

					// remove flag
					{% if not form.vars.required %}
						$('#{{ form.parent.child(name ~ 'Delete').vars.id }}').val('1');
					{% endif %}

					return false;
				});
			})(jQuery);
		</script>
	{% else %}
		<script type="text/javascript">
			(function($){
				// hiding image preview control group
				$('#{{ form.vars.id }}_control_group').remove();
			})(jQuery);
		</script>
	{% endif %}

	<input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %} />
{% endblock %}

{% block ns_image_row %}
	{% spaceless %}
		<div id="{{ form.vars.id }}_control_group" class="control-group">
			{{ form_label(form) }}
			{{ form_errors(form) }}
			{{ form_widget(form) }}
		</div>
	{% endspaceless %}
{% endblock %}

{% block ns_multi_image_widget %}
	{% spaceless %}
		<style type="text/css">
			.ns-multi-image {
				border: solid 1px #ccc;
				border-radius: 10px;
				padding: 10px;
				overflow: hidden;
			}
			.ns-multi-image .drop-container {
				border: solid 3px transparent;
				margin-bottom: 5px;
				padding: 10px 10px 0 10px;
				position: relative;
			}
			.ns-multi-image .drop-container.in {
				border: dashed 3px #ccc;
				border-radius: 5px;
			}
			.ns-multi-image .drop-container .thumbnail {
				margin-left: 20px;
				margin-bottom: 10px;
			}
			.ns-multi-image .thumbnail .progress {
				display: none;
				margin-bottom: 0;
				margin-top: -20px;
				position: relative;
			}
			.ns-multi-image .thumbnail img {
				height: 128px;
				width: 128px;
			}
			.ns-multi-image .thumbnail.in-progress .progress {
				display: block;
			}
			.ns-multi-image .btn-delete {
				display: none;
				left: 0;
				position: absolute;
				top: 0;
			}
		</style>

		<div id="{{ form.vars.id }}_control_group" class="control-group ns-multi-image">
			{# Default fields #}
			{{ form_label(form) }}
			{{ form_errors(form) }}

			{# Thumbnails container #}
			<div class="drop-container">
				<ul class="thumbnails"></ul>
				<button id="fileupload_{{ form.vars.id }}_delete" class="btn btn-mini btn-delete"><i class="icon-trash"></i></button>
			</div>

			{# Add button #}
			<span class="btn btn-mini fileinput-button">
            	<i class="icon-plus"></i>
				<span>Добавить...</span>
				<input id="fileupload_{{ form.vars.id }}" type="file" name="fu_{{ form.vars.id }}_files[]" multiple>
			</span>

			{# Main hidden field contains real model value #}
			<input id="fileupload_{{ form.vars.id }}_hidden" type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %} />

			<script>
				$(function(){
					var id          = '{{ form.vars.id }}';
					var elInput     = $('#fileupload_' + id);
					var elHidden    = $('#fileupload_' + id + '_hidden');
					var elDelete    = $('#fileupload_' + id + '_delete');
					var elContainer = $('#' + id + '_control_group').find('.drop-container');
					var elFiles     = elContainer.find('.thumbnails');

					var fnAddThumb = function(name, preview) {
						name = name || '';
						preview = preview || '{{ asset('bundles/nsadmin/images/loader-big.gif') }}';

						var img = $('<img/>').attr('src', preview);
						var thumb = $('<li class="thumbnail"/>').append(img);
						elFiles.append(thumb);

						if (name) {
							thumb.data('name', name);
						}

						thumb.mouseover(function(){
							var thumb = $(this);
							elDelete.css({
								left: thumb.position().left + thumb.width() - elDelete.width() + 9 + 'px',
								top:  thumb.position().top + 7 + 'px'
							}).show();
							elDelete.data('thumb', thumb);
						});

						return thumb;
					};


					{% if value is not empty %}
						{% for file in value|split(';') %}
							fnAddThumb('{{ file }}', '{{ ('upload/j/' ~ file) | apply_filter('ns_admin_preview') }}');
						{% endfor %}
					{% endif %}

					var fnToHidden = function() {
						{% if multiple %}
							var a = [];
							elFiles.find('.thumbnail').each(function(idx, elFile){
								a.push($(elFile).data('name'));
							});
							elHidden.val(a.join(';'));
						{% else %}
							elHidden.val(elFiles.find('.thumbnail:first').data('name'));
						{% endif %}
					};

					elInput.fileupload({
						url: '{{ url('ns_admin_bundle', { adminBundle: 'NSAdminBundle', adminController: 'ImageUploader', adminAction: 'upload' }) }}',
						dataType: 'json',
						dropZone: elContainer,
						add: function (e, data) {
							data.thumb = fnAddThumb();
							data.submit();
						},
						done: function (e, data) {
							if (data.result.error) {
								alert(data.result.error);
							}
							data.thumb.data('name', data.result.name);
							data.thumb.find('img').attr('src', data.result.preview);
							fnToHidden();
						}
					});

					$(document).bind('drop dragover', function (e) {
						e.preventDefault();
					});

					$(document).bind('dragover', function (e) {
						var timeout = window.dropZoneTimeout;
						if (!timeout) {
							elContainer.addClass('in');
						} else {
							clearTimeout(timeout);
						}
						if (e.target === elContainer[0]) {
							elContainer.addClass('hover');
						} else {
							elContainer.removeClass('hover');
						}
						window.dropZoneTimeout = setTimeout(function () {
							window.dropZoneTimeout = null;
							elContainer.removeClass('in hover');
						}, 100);
					});

					{# Delete button #}
					elDelete.click(function(){
						if (!confirm('Вы уверены?')) {
							return false;
						}
						elDelete.data('thumb').remove();
						fnToHidden();
						return false;
					});
				});
			</script>

		</div>
	{% endspaceless %}
{% endblock %}

{% block ns_file_select_widget %}
    {% spaceless %}
        <div id="{{ form.vars.id }}_control_group" class="control-group ns-multi-image">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}

            <style>
                .iframe-loader {
                    width: 128px;
                    height: 128px;
                    background: url('/bundles/nsadmin/images/loader-big.gif');
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin: -64px 0 0 -64px;
                    opacity: 0.3;
                }
            </style>

            <div>
                <input type="text" disabled="disabled" value="{{ value|default('Не выбрано') }}" id="{{ form.vars.id }}_input" />
                <a href="#" class="btn btn-default" style="position: relative;top: -5px;left:2px;" id="{{ form.vars.id }}_trigger">Выбрать</a>
            </div>

            <div id="{{ form.vars.id }}_dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{{ form.vars.id }}_dialog_label" aria-hidden="true" style="width:1000px;margin-left:-500px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="{{ form.vars.id }}_dialog_label">Выберите файл</h3>
                </div>
                <div class="modal-body" style="overflow: hidden;">
                    <div class="iframe-loader"></div>
                    <iframe src="" style="width:100%;height:400px;border:none" id="{{ form.vars.id }}_iframe"></iframe>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Отменить</button>
                    <button class="btn btn-success btn-save" id="{{ form.vars.id }}_select">Выбрать</button>
                </div>
            </div>

            <script>
                (function($){
                    var iframe  = $('#{{ form.vars.id }}_iframe');
                    var hidden  = $('#{{ form.vars.id }}');
                    var input   = $('#{{ form.vars.id }}_input');
                    var trigger = $('#{{ form.vars.id }}_trigger');
                    var dialog  = $('#{{ form.vars.id }}_dialog');
                    var select  = $('#{{ form.vars.id }}_select');

                    var fnSelect = function(){
                        var ef = iframe.get(0).contentWindow.$('#elfinder').elfinder('instance');
                        if (ef.selected().length) {
                            var file = ef.path(ef.selected()[0]);
                            hidden.val(file);
                            input.val(file);
                        }
                        return false;
                    };

                    trigger.click(function(){
                        dialog.find('.iframe-loader').show();
                        iframe.css({opacity:0});

                        dialog.modal('show');

                        iframe.load(function(){
                            dialog.find('.iframe-loader').hide();
                            iframe.css({opacity:1});

                            iframe.contents().find('.elfinder-button-icon-getfile').parent().click(function(){
                                fnSelect();
                            });
                        });
                        iframe.attr('src', '{{ url('elfinder') }}');

                        return false;
                    });

                    select.click(function(){
                        fnSelect();
                        dialog.modal('hide');
                        return false;
                    });
                })(jQuery);
            </script>
        </div>
    {% endspaceless %}
{% endblock %}